tohow.Service/obj/Debug/tohow.Service.csproj.FileListAbsolute.txt
tohow.API/obj/Debug/tohow.API.csproj.FileListAbsolute.txt
tohow.Data/obj/Debug/tohow.Data.csproj.FileListAbsolute.txt
tohow.Domain/obj/Debug/tohow.Domain.csproj.FileListAbsolute.txt
tohow.Interface/obj/Debug/tohow.Interface.csproj.FileListAbsolute.txt
